{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>Rathina Shabur</p>
<h5>NPM: </h5>
<p>2106651906</p>

<table>
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for watchlist in data_watchlist %}
        <tr>
            <th>{{watchlist.watched}}</th>
            <th>{{watchlist.title}}</th>
            <th>{{watchlist.rating}}</th>
            <th>{{watchlist.release_date}}</th>
            <th>{{watchlist.review}}</th>
        </tr>
    {% endfor %}
</table>

{% endblock content %}